<!DOCTYPE html>
<html lang="en">
<head>
    <!--Meta elements-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <!--Importing Vue-->
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <!--CSS styling-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="mystyles.css">

    <title>After School Club</title>
</head>

<body>

    <div id="app">
        <header> <h1>After School Club</h1> </header>

        <!--Switching from main page to checkout page-->
        <button @click="toggleShowProduct">
            {{totalItemsInTheCart}}
            <span class="fas fa-shopping-cart"></span>
            Checkout
        </button>

    <div class="float_container">

        <div class="all_classes">

        <div id="product" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product.title"></h1>
                <p><b>Location:</b> {{ product.location }}</p>
                <p><b>Description:</b> {{ product.description }}</p>
                <p><b>Price:</b> {{product.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product.availableSpaces - totalItemsInTheCart > 0">
                    {{product.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product2" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product2.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product2.title"></h1>
                <p><b>Location:</b> {{ product2.location }}</p>
                <p><b>Description:</b> {{ product2.description }}</p>
                <p><b>Price:</b> {{product2.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product2.availableSpaces - totalItemsInTheCart > 0">
                    {{product2.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product2.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product3" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product3.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product3.title"></h1>
                <p><b>Location:</b> {{ product3.location }}</p>
                <p><b>Description:</b> {{ product3.description }}</p>
                <p><b>Price:</b> {{product3.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product3.availableSpaces - totalItemsInTheCart > 0">
                    {{product3.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product3.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product4" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product4.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product4.title"></h1>
                <p><b>Location:</b> {{ product4.location }}</p>
                <p><b>Description:</b> {{ product4.description }}</p>
                <p><b>Price:</b> {{product4.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product4.availableSpaces - totalItemsInTheCart > 0">
                    {{product4.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product4.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product5" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product5.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product5.title"></h1>
                <p><b>Location:</b> {{ product5.location }}</p>
                <p><b>Description:</b> {{ product5.description }}</p>
                <p><b>Price:</b> {{product5.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product5.availableSpaces - totalItemsInTheCart > 0">
                    {{product5.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product5.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product6" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product6.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product6.title"></h1>
                <p><b>Location:</b> {{ product6.location }}</p>
                <p><b>Description:</b> {{ product6.description }}</p>
                <p><b>Price:</b> {{product6.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product6.availableSpaces - totalItemsInTheCart > 0">
                    {{product6.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product6.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product7" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product7.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product7.title"></h1>
                <p><b>Location:</b> {{ product7.location }}</p>
                <p><b>Description:</b> {{ product7.description }}</p>
                <p><b>Price:</b> {{product7.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product7.availableSpaces - totalItemsInTheCart > 0">
                    {{product7.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product7.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product8" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product8.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product8.title"></h1>
                <p><b>Location:</b> {{ product8.location }}</p>
                <p><b>Description:</b> {{ product8.description }}</p>
                <p><b>Price:</b> {{product8.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product8.availableSpaces - totalItemsInTheCart > 0">
                    {{product8.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product8.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product9" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product9.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product9.title"></h1>
                <p><b>Location:</b> {{ product9.location }}</p>
                <p><b>Description:</b> {{ product9.description }}</p>
                <p><b>Price:</b> {{product9.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product9.availableSpaces - totalItemsInTheCart > 0">
                    {{product9.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product9.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product10" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product10.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product10.title"></h1>
                <p><b>Location:</b> {{ product10.location }}</p>
                <p><b>Description:</b> {{ product10.description }}</p>
                <p><b>Price:</b> {{product10.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product10.availableSpaces - totalItemsInTheCart > 0">
                    {{product10.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product10.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product11" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product11.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product11.title"></h1>
                <p><b>Location:</b> {{ product11.location }}</p>
                <p><b>Description:</b> {{ product11.description }}</p>
                <p><b>Price:</b> {{product11.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product11.availableSpaces - totalItemsInTheCart > 0">
                    {{product11.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product11.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

        <div id="product12" class="float_child" v-if="showProduct">

            <main>
                <figure>
                    <img v-bind:src="product12.image" width="100px" height="=100px"> 
                </figure>
    
                <h1 v-text="product12.title"></h1>
                <p><b>Location:</b> {{ product12.location }}</p>
                <p><b>Description:</b> {{ product12.description }}</p>
                <p><b>Price:</b> {{product12.price}}</p>
                <p><b>Spaces:</b>
                
                <span v-if="product12.availableSpaces - totalItemsInTheCart > 0">
                    {{product12.availableSpaces - totalItemsInTheCart}} spaces left</span>
                <span v-else-if="product12.availableSpaces - totalItemsInTheCart === 0">Out of spaces</span> </p> 
    
                <button v-on:click="addItemToCart" v-bind:disabled="!canAddToCart">Add the lesson</button>
    
    
            </main>

        </div>

    </div>

    </div>

        <div v-else>
            <h2>Welcome to the checkout page! </h2>


         </div>

    </div>

    <script>
        let webstore = new Vue({
            el: "#app",
            data: { 
                //The values of the product
                    sitename: "After School Club",
                    showProduct: true,
                    product: {
                        id: 1001,
                        title: "Math",
                        location: "Hendon",
                        description: "Fundamentals of math",
                        price: 100,
                        image: "/images/math_icon.png",
                        availableSpaces:5
                        
                     },

                     product2: {
                        id: 1002,
                        title: "Spanish",
                        location: "Colindale",
                        description: "Learn Spanish!",
                        price: 150,
                        image: "/images/spanish_icon.png",
                        availableSpaces:5
                        
                     },

                     product3: {
                        id: 1003,
                        title: "Cooking",
                        location: "Harrow",
                        description: "Cooking essentials!",
                        price: 200,
                        image: "/images/cooking_icon.png",
                        availableSpaces:5
                        
                     },

                     product4: {
                        id: 1004,
                        title: "Arts & Crafts",
                        location: "Wembley",
                        description: "Express yourself at arts and crafts!",
                        price: 175,
                        image: "/images/art_icon.png",
                        availableSpaces:5
                        
                     },

                     product5: {
                        id: 1005,
                        title: "Biology",
                        location: "Statford",
                        description: "Biology description!",
                        price: 140,
                        image: "/images/biology_icon.png",
                        availableSpaces:5
                        
                     },

                     product6: {
                        id: 1006,
                        title: "Chemistry",
                        location: "Kensington",
                        description: "Chemistry description!",
                        price: 130,
                        image: "/images/chemistry_icon.png",
                        availableSpaces:5
                        
                     },

                     product7: {
                        id: 1007,
                        title: "Geography",
                        location: "South Kensington",
                        description: "Geography description!",
                        price: 120,
                        image: "/images/geography_icon.png",
                        availableSpaces:5
                        
                     },

                     product8: {
                        id: 1008,
                        title: "History",
                        location: "Greenwich",
                        description: "History description!",
                        price: 100,
                        image: "/images/history_icon.png",
                        availableSpaces:5
                        
                     },

                     product9: {
                        id: 1009,
                        title: "Photography",
                        location: "Camden",
                        description: "Photography description!",
                        price: 165,
                        image: "/images/photography_icon.png",
                        availableSpaces:5
                        
                     },

                     product10: {
                        id: 1010,
                        title: "Physics",
                        location: "Hackney",
                        description: "Physics description!",
                        price: 170,
                        image: "/images/physics_icon.png",
                        availableSpaces:5
                        
                     },

                     product11: {
                        id: 1011,
                        title: "Business",
                        location: "Islington",
                        description: "Business description!",
                        price: 200,
                        image: "/images/business_icon.png",
                        availableSpaces:5
                        
                     },

                     product12: {
                        id: 1012,
                        title: "Zoology",
                        location: "Hounslow",
                        description: "Zoology description!",
                        price: 125,
                        image: "/images/zoology_icon.png",
                        availableSpaces:5
                        
                     },

                     cart: []
            },
            //Functionality
            methods: {
                addItemToCart: function() {
                    this.cart.push(this.product.id);

                },
                toggleShowProduct() {
                    this.showProduct=this.showProduct ? false : true;

                }


            },
            computed: {
                totalItemsInTheCart: function() {
                    return this.cart.length || " ";

                },
                canAddToCart() {
                    return this.product.availableSpaces > this.totalItemsInTheCart;
                }

            }
        })

    </script>

</body>
</html>