header {
    text-align:center;

}

body {
    background-color: bisque;

}

.float_container {
    /* border: 1px solid rgb(52, 43, 43); */
    padding: 50px;
    height:1700px;
    /*text-align: center; */
    margin: auto;
  width: 80%;
}

.float_child {
    width:25%;
    float: left;
    padding: 20px;
    /* border: 1px solid rgb(70, 67, 67); */
    margin:10px;
    background-color: beige;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Garamond;

}

.all_classes {
    margin:auto;



}

.upperNavigation {
    float:left;
    width:100%;

}

.checkout_button {
    float:left;
    width:33%;

}
.search_bar {
    float:left;
    width:33%;
}

.sort_section {
    float:left;
    width:33%;
}

.asc:after{
    content: "\25B2"
}

.desc:after{
    content: "\25BC"
}


